/* :root {
    --baseColor0: #fafafa;
    --baseColor1: #333;

    --baseColor2:#4fda8e;
} */
.hero_outer {
    padding: 4rem 1rem;
}
.hero_outer section.hero{
    background: linear-gradient(to left bottom, var(--baseColor2),var(--baseColor1));
    filter: grayscale(0%) contrast(150%);
    color: var(--baseColor0);
    box-shadow: inset 4px -4px 5px var(--baseColor2);
    border-radius: 2rem;
    padding: 1rem 4vw;
    margin-bottom: 4rem;
}
.hero  {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(288px,1fr));
}
.hero > div {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero_left {
    margin: auto;
}
.hero_left h1 {
    max-width: 17ch;
    margin-bottom: .5rem;
}
@media (max-width: 768px) {
    .hero_left h1 {
        font-size: 2.5rem;
    }
}
.hero_left div {
    margin-bottom: 2rem;
    display: flex;
    gap: 5vw;
}
.hero_left div span{
    font-weight: 400;
    font-size: 1.2rem;
    
    display: flex;
    flex-direction: column;
}


.hero_left form {
    position: relative;
    background-color: var(--baseColor0);
    border-radius: 10px;
    max-width: 250px;
    padding: .25rem .5rem;
}
.hero_left form input {
    background: unset;
    border: unset;
    color: var(--baseColor1);
    font-size: 1rem;
    font-weight: 500;
    padding: .25rem;
}
.hero_left form button {
    background-color: transparent;
    position: absolute;
    right: 1rem;
    padding: unset;
    border-radius: 1px;
}


/* right hero  */
.hero_right {
    border-radius: 10rem 0rem 10rem 0rem;
    max-width: 500px;
    overflow: hidden;
}

.hero_right img {
    width: 100%;
    transition: transform 0.3s;
    transform: scale(105%);
}
.hero:hover img {
    transform: scale(100%);
}









/* best_selling_plants */
.best_selling_plants {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    justify-items: center;
    grid-gap: 1rem;
    padding: 2rem 0;
}
.best_selling_plants .context {
    min-height: 300px;
    display: grid;
    gap: 1.5rem;
    place-content: center;
}
.best_selling_plants .context span {
    font-size: 1.3rem;
    font-weight: 300;
    
}



/* item  */
.best_selling_plants_item {
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
    max-width: 300px;
}
.best_selling_plants_item img {
    width: 100%;
    transition: transform 0.3s;
    transform: scale(105%);
}
.best_selling_plants_item:hover img {
    transform: scale(120%);

}


/* item text */
.best_selling_plants_item div {
    position: absolute;
    bottom: 0;
    padding: 1.2rem;
    width: 100%;
    background-color: var(--baseColor2);
    color: var(--baseColor1);
    font-size: 1.5rem;
}

.best_selling_plants_item_inner h6 {
    font-size: 1.5rem;
    font-weight: 700;
}
.best_selling_plants_item_inner span {
    font-weight: 400;

}





@media (max-width: 992px) {
    .best_selling_plants {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .best_selling_plants {
        grid-template-columns: 1fr;
    }
}


